<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
		<script>
!(function(c,b,d,a){c[a]||(c[a]={});c[a].config={pid:"bb6vtcw3t3@6594c08d3216a5d",appType:"web",imgUrl:"https://arms-retcode.aliyuncs.com/r.png?"};
with(b)with(body)with(insertBefore(createElement("script"),firstChild))setAttribute("crossorigin","",src=d)
})(window,document,"https://retcode.alicdn.com/retcode/bl.js","__bl");
</script>
    {% include header.html %}

    <div class="page-content">
        {{ content }}
    </div>

    {% include footer.html %}

  </body>

</html>
